# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
marcli.exe

*.dll
*.so
*.dylib

# Video files
*.mkv
*.mp4
*.mov
*.avi
*.wmv
*.flv
*.webm
*.m4v
*.mpg
*.mpeg
*.3gp
*.ogv
*.ts
*.m2ts
*.mts

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
